/*note.css*/
.note-edit {
	position: fixed;
	/*margin: 20px;*/
	top: 0; 
	left: 0;
	margin: 20px auto;
	
	/*background-color: rgba(255,255,255,.0618);*/
	/*padding: 1.5em 2em;*/
}

.note {
	border-top: 3px solid rgba(255,255,255,.618);
}

.note-save {
	display: block;
}


.note-display {
	position: absolute;
	right: 0;
	/*display: flex; */
	/*flex-direction: column-reverse;*/
	top: 0;
	height: 100%; 
	overflow-y: scroll;
}



.note {
	position: relative;
	background-color: rgba(255,255,255,.0618);
	padding: 1.5em 2em;
	margin: 20px;

	transition: all .4s; 
}


/*.note input, .note textarea {*/
.note .note-title, .note .note-des, .note .dt {
	display: block;
	width: 24em; 
	margin: 12px 0;
	padding: 8px 1.5em;
	
	border-top: 1px dashed rgba(255,255,255,.2);
	border-bottom: 1px dashed rgba(255,255,255,.2);
	border-left: none; 
	border-right: none; 
	background-color: rgba(0,0,0,0); 
}

.note-display .date-select {
	width: 24em; 
	padding: 0 1.5em;
	font-size: 10px;
	color: rgba(255,255,255,.318);
}

.date-select, .time-select {
	background-color: rgba(0,0,0,0); 
	border: none;

}

.note-del {
	display: inline-block;
	position: absolute;

	bottom: 0px; 
	right: 16px;

	width: 24px; 
	height: 24px; 


	border-left: 2px solid rgba(250,90,80, .618); 
	border-top: 2px solid rgba(250,90,80, .618);
	transform: rotate(45deg);
	cursor: pointer;
}
.note-del:after {
	content: ""; 
	position: absolute;
	display: block;

	width: 24px; 
	height: 24px;
	top: -26px;
	left: -26px;

	border-right: 2px solid rgba(250,90,80, .618); 
	border-bottom: 2px solid rgba(250,90,80, .618);
}

.note-del-before {
	content: ""; 
	position: absolute;
	border-radius: 24px;
	display: block;
	width: 48px; 
	height: 48px;
	left: -25px; 
	top: -25px;
	z-index: 5; 
	cursor: pointer;
	/*background-color: #fff;*/
	/*transform-origin: 0%;*/
	transform: rotate(-45deg);

}

#note-save {
	display: block;
	padding: .8em 1.2em; 
	font-size: 16px;
	cursor: pointer;
}


.notFirPop {
	/*margin-top: -55px;*/
	margin-top: -200px;
	/*margin-top: -180px;*/

	/*height: 0; */
	/*height: 0; */
	opacity: 0; 
	/*transition: all .4s; */
}

.firPop {
	margin-top: -180px;
	opacity: 0; 
}
